.invisible {
  display: none;
}

.visible {
  animation: 500ms forwards squeeze-fade-in;
}

@keyframes squeeze-fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    transform: scaleX(1.05);
    filter: blur(30px);
  }

  100% {
    display: flex;
    opacity: 1;
    transform: scaleX(1);
    filter: blur(0);
  }
}
