@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: #1a202c;
  color: white;
}

.navcomp {
  display: flex;
}

.navcomp:hover{
  scale: 1.09;
  transition: 0.2s;
}

.nav-center-link {
  color: grey;
}

.nav-center-link:hover, .nav-center-link.active {
  color: white;
}

.nav-center-link.active {
  font-weight: bold;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
